<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" layout="column" flex>

    <!-- CONTENT HEADER -->
    <div class="header" layout="row" layout-align="space-between center">
      <div class="white-fg" layout="column" layout-align="start start">
        <div class="h1" layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-ticket"></md-icon>
          <span translate="PROMOCIONES.PROMOCIONES_NAV">Promociones</span>
        </div>
        <div class="product-count secondary-text">
          <span translate="PROMOCIONES.TOTAL_PROMOCIONES">Total de Promociones:</span>
          <span>{{vm.promociones.length}}</span>
        </div>
      </div>

      <div class="search" layout="row" layout-align="start center" flex>
        <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
        <input id="e-commerce-products-search" class="search-input" type="text" placeholder="Search"
               translate translate-attr-placeholder="PROMOCIONES.SEARCH" flex>
      </div>

      <div>
        <md-button class="md-raised md-background" ng-click="vm.gotoAddPromociones()">
          <span translate="PROMOCIONES.ADD_NEW_PROMOCIONES">Crear Nueva Promoción</span>
        </md-button>
      </div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card" layout="column" flex>

      <!-- CONTENT TOOLBAR -->

      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content fullpage-datatable" layout="column" flex>

        <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
               dt-options="vm.dtOptions">
          <thead>
          <tr>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title">ID</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="PROMOCIONES.NOMBRE">Nombre</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="PROMOCIONES.DESCRIPCION">Descripción</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="PROMOCIONES.FECHA">Fecha</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="PROMOCIONES.CANTIDAD_USUARIOS">Cantidad de Incluidos</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="PROMOCIONES.ACCIONES">Acciones</span>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="promocion in ::vm.promociones">
            <td>{{promocion.id}}</td>
            <td>{{promocion.nombre}}</td>
            <td>{{promocion.descripcion}}</td>
            <td>{{promocion.fecha}}</td>
            <td>{{promocion.cantidadDeUsuariosSuscriptos}}</td>
            <td>
              <md-button class="edit-button md-icon-button" ng-click="vm.gotoPromocionDetail(promocion.id)" aria-label="Detalles de la Promoción"
                         translate translate-attr-aria-label="PROMOCIONES.PROMOCION_DETAILS">
                <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
