<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" layout="column" flex>

    <!-- CONTENT HEADER -->
    <div class="header" layout="row" layout-align="space-between center">
      <div class="white-fg" layout="column" layout-align="start start">
        <div class="h1" layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-file-document"></md-icon>
          <span translate="OS.OS_NAV">Ordenes de Solicitud</span>
        </div>
        <div class="product-count secondary-text">
          <span translate="OS.TOTAL_OSS">Total de OSs:</span>
          <span>{{vm.oss.length}}</span>
        </div>
      </div>

      <div class="search" layout="row" layout-align="start center" flex>
        <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
        <input id="e-commerce-products-search" class="search-input" type="text" placeholder="Search"
               translate translate-attr-placeholder="OS.SEARCH" flex>
      </div>

      <div>
        <md-button class="md-raised md-background" ng-click="vm.gotoAddOS()">
          <span translate="OS.ADD_NEW_OS">Crear Nueva OS</span>
        </md-button>
      </div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card" layout="column" flex>

      <!-- CONTENT TOOLBAR -->

      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content fullpage-datatable" layout="column" flex>

        <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
               dt-options="vm.dtOptions">
          <thead>
          <tr>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title">ID</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="OS.NUMERO_CLIENTE">Número de Cliente</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="OS.NOMBRE_CLIENTE">Nombre de Cliente</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="OS.TIPO_DE_ORDEN">Tipo de Orden</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="OS.FECHA_CREACION">Fecha de Creación</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="OS.FECHA_FINALIZACION">Fecha de Finalización</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="OS.ESTADO">Estado</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="OS.ACCIONES">Acciones</span>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="ot in ::vm.oss">
            <td>{{ot.id}}</td>
            <td>{{ot.numeroDeCliente}}</td>
            <td>{{ot.nombreDeCliente}}</td>
            <td>{{ot.tipoDeOrden}}</td>
            <td>{{ot.fechaCreacion}}</td>
            <td>{{ot.fechaFinalizacion}}</td>
            <td>{{ot.estado}}</td>
            <td>
              <md-button class="edit-button md-icon-button" ng-click="vm.gotoOSDetail(ot.id)" aria-label="Detalles de OS"
                         translate translate-attr-aria-label="OS.OS_DETAILS">
                <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
