<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" layout="column" flex>

    <!-- CONTENT HEADER -->
    <div class="header" layout="row" layout-align="space-between center">
      <div class="white-fg" layout="column" layout-align="start start">
        <div class="h1" layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-document"></md-icon>
          <span translate="OT.OT_NAV">Ordenes de Trabajo</span>
        </div>
        <div class="product-count secondary-text">
          <span translate="OT.TOTAL_OTS">Total de OTs:</span>
          <span>{{vm.ots.length}}</span>
        </div>
      </div>

      <div class="search" layout="row" layout-align="start center" flex>
        <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
        <input id="e-commerce-products-search" class="search-input" type="text" placeholder="Search"
               translate translate-attr-placeholder="OT.SEARCH" flex>
      </div>

      <div>
        <md-button class="md-raised md-background" ng-click="vm.gotoAddOT()">
          <span translate="OT.ADD_NEW_OT">Crear Nueva OT</span>
        </md-button>
      </div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card" layout="column" flex>

      <!-- CONTENT TOOLBAR -->

      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content fullpage-datatable" layout="column" flex>

        <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
               dt-options="vm.dtOptions">
          <thead>
          <tr>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title">ID</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="OT.NUMERO_CLIENTE">Número de Cliente</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="OT.NOMBRE_CLIENTE">Nombre de Cliente</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="OT.TIPO_DE_ORDEN">Tipo de Orden</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="OT.FECHA_CREACION">Fecha de Creación</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="OT.FECHA_FINALIZACION">Fecha de Finalización</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="OT.TECNICO">Técnico Asignado</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="OT.CALIFICACION">Calificación de OT</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="OT.ESTADO">Estado</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="OT.ACCIONES">Acciones</span>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="ot in ::vm.ots">
            <td>{{ot.id}}</td>
            <td>{{ot.numeroDeCliente}}</td>
            <td>{{ot.nombreDeCliente}}</td>
            <td>{{ot.fechaCreacion}}</td>
            <td>{{ot.fechaFinalizacion}}</td>
            <td>{{ot.nombreTecnicoAsignado}}</td>
            <td>{{ot.calificacionOT}}</td>
            <td>{{ot.estado}}</td>
            <td>
              <md-button class="edit-button md-icon-button" ng-click="vm.gotoOTDetail(ot.id)" aria-label="Detalles de OT"
                         translate translate-attr-aria-label="OT.OT_DETAILS">
                <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
