<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="start center">
    <div class="white-fg" layout="row" layout-align="start center" flex>
      <md-button class="goto-products-button md-icon-button" aria-label="Go to ots"
                 ng-click="vm.gotoOts()"
                 translate translate-attr-aria-label="NEWOT.GO_TO_OTS">
        <md-icon md-font-icon="icon-arrow-left"></md-icon>
      </md-button>

      <div layout="row" layout-align="start center">

        <div layout="column" layout-align="start start">

          <div class="h2">
            <md-icon md-font-icon="icon-bell-ring-outline"></md-icon> Alerta
          </div>
        </div>
      </div>
    </div>

    <div>
      <md-button class="md-raised md-background" ng-click="vm.saveOt()"
                 ng-disabled="!vm.isFormValid('otForm')">
        <span translate="NEWOT.SAVEALERTA">SEND</span>
      </md-button>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
      <form id="otForm" name="otForm">

        <md-input-container class="md-block">
          <label translate="NEWOT.NAME">Alert Name</label>
          <input type="text" ng-model="vm.alerta.name" required>
        </md-input-container>

        <h3 class="secondary-text" translate="NEWOT.ALERTA_DESCRIPTION">Alert Description</h3>
        <text-angular ta-toolbar="vm.taToolbar" ng-model="vm.alerta.description"
                      class="pb-0"></text-angular>

        <md-input-container class="md-block">
          <label translate="NEWOT.LOCALIDAD">Localidad</label>
          <md-autocomplete  md-selected-item="vm.selectedLocalidad" md-search-text="searchText" md-items="localidad in vm.localidades | filter:searchText" md-item-text="localidad.id + ' - ' + localidad.localidad + ' - ' + localidad.provincia" placeholder="Busque una Localidad">
            <span md-highlight-text="searchText">{{localidad.id + " - " + localidad.localidad + " - " + localidad.provincia}}</span>
          </md-autocomplete>
        </md-input-container>

      </form>
    </div>



  </div>
  <!-- / CONTENT -->

</div>
