<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" layout="column" flex>

    <!-- CONTENT HEADER -->
    <div class="header" layout="row" layout-align="space-between center">
      <div class="white-fg" layout="column" layout-align="start start">
        <div class="h1" layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-bell-ring-outline"></md-icon>
          <span translate="ALERTAS.ALERTAS_NAV">Alertas</span>
        </div>
        <div class="product-count secondary-text">
          <span translate="ALERTAS.TOTAL_ALERTAS">Total de Alertas:</span>
          <span>{{vm.promociones.length}}</span>
        </div>
      </div>

      <div class="search" layout="row" layout-align="start center" flex>
        <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
        <input id="e-commerce-products-search" class="search-input" type="text" placeholder="Search"
               translate translate-attr-placeholder="ALERTAS.SEARCH" flex>
      </div>

      <div>
        <md-button class="md-raised md-background" ng-click="vm.gotoAddAlerta()">
          <span translate="ALERTAS.ADD_NEW_ALERTAS">Crear Nueva Alerta</span>
        </md-button>
      </div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card" layout="column" flex>

      <!-- CONTENT TOOLBAR -->

      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content fullpage-datatable" layout="column" flex>

        <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
               dt-options="vm.dtOptions">
          <thead>
          <tr>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title">ID</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="ALERTAS.NOMBRE">Nombre</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="ALERTAS.DESCRIPCION">Descripción</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="ALERTAS.FECHA">Fecha</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title" translate="ALERTAS.CANTIDAD_USUARIOS">Cantidad de Incluidos</span>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="alerta in ::vm.alertas">
            <td>{{alerta.id}}</td>
            <td>{{alerta.nombre}}</td>
            <td>{{alerta.descripcion}}</td>
            <td>{{alerta.fechs}}</td>
            <td>{{alerta.cantidadDeUsuariosSuscriptos}}</td>
          </tr>
          </tbody>
        </table>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
